JWT_SECRET=07cc2b6a862d9297f1b315371e58908b8e64dcaf3c75d4506e01d6de45a5460a
GOOGLE_CLIENT_ID=408622950395-u9vl8s0rvnrl7dqmiahtrtpu5p8ai0eu.apps.googleusercontent.com
ALLOWED_ORIGINS=https://pdf-converter-eight-rouge.vercel.app
SUPABASE_URL=sb_publishable_8GEui7-4v1DGsbGuVeZOTQ_R5s0oqpc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNobHF0bmtvcGt4bGZwcHd5Y2FjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjEzODQ3NiwiZXhwIjoyMDk3NzE0NDc2fQ.TgrpWQEG6CNcki25xh3LWP7jW3c5pqY7kxh-HSrLUbA
SUPABASE_STORAGE_BUCKET=pdf-outputs